# Auto-detect text files and perform LF normalization
* text=auto

# Explicitly set line endings for specific file types
*.js text eol=lf
*.md text eol=lf
*.json text eol=lf
*.html text eol=lf
*.txt text eol=lf